<p>
    Añadir comentario:
<form method="post" action="/quizes/<%= quizId %>/comments">
    <input name="comment[texto]" type="text" id="comment" value=""/><br>
    <button type="submit">Enviar</button>
</form>
</p>